
@{
    ViewBag.Title = "QLBaiXe";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/datatables-init.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/jquery-1.12.4.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/jquery.dataTables.min.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/Areas/QuanTriVien/assets/js/lib/data-table/vfs_fonts.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
    </script>
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Danh Sách Bãi Xe</strong>
                    </div>
                    <div class="card-body">
                        <div id="bootstrap-data-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="bootstrap-data-table_length">
                                        <label>
                                            Show <select name="bootstrap-data-table_length" aria-controls="bootstrap-data-table" class="form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="-1">All</option>
                                            </select> entries
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="bootstrap-data-table_filter" class="dataTables_filter">
                                        <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="bootstrap-data-table"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Địa Chỉ</th>
                                                <th>Sức Chứa</th>
                                                @*<th>Tình Trạng</th>*@
                                            </tr>
                                        </thead>
                                        @foreach (var i in Model)
                                        {
                                            <tbody>
                                                <tr>
                                                    <td>@i.DiaChi</td>
                                                    <td>@i.SucChua</td>
                                                    @*<td>Edinburgh</td>*@
                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- .animated -->
            </div><!-- .content -->

        </div><!-- /#right-panel -->
    </div>
</div>




